
.create-poll-container {
    padding-left: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .create-poll-container label {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .create-poll-container input[type="text"],
  .create-poll-container input[type="file"],
  .create-poll-container select {
    display: block; 
    margin-left: 20px; 
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
  }
  
  /*Need fix, is not working right now*/
  .create-poll-container img {
    display: block; 
    margin-top: 10px; 
    max-width: 100%; /* Ensure image does not exceed container width */
  }