/* Global Styles for Body, HTML, and Root */
body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  font-family: 'Roboto', sans-serif; 
}

/* Main  */
.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  color: #571845;
  font-size: 2.5em;
  margin-bottom: 20px;
}

img.conference-banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#time {
  font-size: 24px;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.event-date, .event-time {
  color: blue;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2em;
  }

  #time {
    font-size: 20px;
  }

  th, td {
    padding: 6px;
  }
}
